<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Phone Book Contacts</title>
</head>

<body>
    <div class = "header">
        <a href ="/">
            <img class = "img" src="/img/logo.png">
        </a>
        <div>
            <p>PhoneBook</p>
        </div>
        <div>
            <button onclick="location.href='/editor'" class="button-link">Editor</button>
            <button onclick="location.href='/phonebook'" class="button-link">Phone Book</button>
        </div>
    </div>

    <main>
        {{{body}}}
    </main>
</body>

</html>
